<!DOCTYPE html>
<html th:replace="~{layouts/base :: layout(~{::title},~{::section})}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>게시판 조회</title>

</head>
<body>
<section class="masthead"  th:object="${board}">
    <div class="jumbotron text-center" >

        <h1 class="display-4" style="display: inline;" th:text="${board.title}">Hello, world!</h1>
        <p style="text-align: right; margin-right: 30px;" class="text-muted">3 days ago</p>
        <p style="text-align: right; margin-right: 30px;" th:text="'작성자 : ' + ${board.user.userId}"></p>
        <hr>
        <br>
        <div th:each="path : ${board.userFileList}">
            <br>
            <img th:src="${path.filePath}" class="card-img-top" alt="..." style="width: 200px; height 300px;">
            <br>
        </div>
        <br><hr><br>
        <p class="lead" th:text="${board.content}">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>


        <br><hr><br>


    </div>
    <!-- Reply Section -->
    <h2 style="margin: 10px 10px 0 20px;">댓글</h2><hr>
    <div class="col" name="reply" th:each="reply : ${board.replyList}">

        <div style="margin: 10px 10px 0 10px;">
            <b><a th:href="@{/userpage(id=${reply.user.userId})}" th:text="${reply.user.getUserId}" ></a></b> <small class="text-muted">3 days ago</small>

            <br>
        <span th:text="${reply.content}"></span>
        </div>
        <hr>



    </div>

    <br>


    <!-- Reply Write Section -->
    <div class="lead text-center">

        <form id="replyForm" name="replyForm" action="/reply_write" method="post" style="display: inline-block;
          text-align: center; width: 60%">
            <input type="text" id="content" name="content" class="form-control" placeholder="댓글을 입력해주세요.." aria-label="댓글을 입력해주세요.." aria-describedby="basic-addon2">
            <input type="hidden" id="boardId" name="boardId" th:value="${board.boardId}">
            <br>
            <input style="width: 20%" class="btn btn-outline-secondary" value="등록" type="submit">

        </form>

        <br><br><hr><br><br>
    </div>
    <!-- Reply Write Section End -->



    <!-- Reply Section End -->
    <p class="lead text-center">
        <a class="btn btn-primary btn-lg" href="/board" role="button">목록으로</a>
    </p>
    <div class="aab"></div>

</section>
</body>
</html>