<!DOCTYPE html>
<html th:replace="~{layouts/base :: layout(~{::title},~{::section})}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>홈 입니다.</title>
</head>
<body>

    <section th:object="${user}" class="masthead" id="contact">
        <!-- Portfolio Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Contact</h2>
        <!-- Icon Divider-->
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <div class="text-center">
            <a href="https://open.kakao.com/o/sId3eJxd" target="_blank">
                <img src="assets/img/kakaotalks.jpg" alt="위의 이미지를 누르면 연결됩니다.">
            </a>
            <br>
            <br>
            <a href="/"  target="_blank">
                <img src="assets/img/chattings.jpg" alt="위의 이미지를 누르면 연결됩니다.">
            </a>
            <br>
            <br>
            <a href="/email" target="_blank">
                <img src="assets/img/email.jpg" alt="위의 이미지를 누르면 연결됩니다.">
                </a>
            <br>
            <br>
        </div>
    <section class="masthead text-center">

    </section>
</section>
</body>
</html>