<!DOCTYPE html>
<html th:replace="~{layouts/base :: layout(~{::title},~{::section})}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>홈 입니다.</title>
</head>
<body>

<section th:object="${user}">
    <div th:replace="~{fragment/masthead :: masthead}"></div>

    <div th:replace="~{fragment/portfolio :: portfolio}"></div>
    <section class="masthead text-center">

    <button type="button" onclick="location.href='/modify'" th:if="${user.userId != null}">회원수정</button>
        <button type="button" onclick="location.href='/modify'" th:if="${user.userId != null}">회원수정</button>
        <button type="button" onclick="location.href='/modify'" th:if="${user.userId != null}">회원수정</button>

    </section>
</section>
</body>
</html>