<!DOCTYPE html>
<html th:replace="~{layouts/base :: layout(~{::title},~{::section})}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>회원 수정</title>
</head>
<body>
<section class="masthead text-center">
    <form action="/modify" method="post">
        과거 아이디 : <input type="text" name="beforeId" id="beforeId"/><br>
        과거 비밀번호 : <input type="text" name="beforePassword" id="beforePassword"/><br>
        아이디 : <input type="text" name="userId" id="userId"/><br>
        비밀번호: <input type="text" name="password"/><br>
        <input type="submit" value="제출" /> <br>
    </form>

</section>
</body>
</html>
