<!DOCTYPE html>
<html th:replace="~{layouts/base :: layout(~{::title},~{::section})}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>회원가입 입니다.</title>
</head>
<body>
<section class="masthead text-center">
    <form action="signup.html" method="post" th:action th:object="${user}">
        아이디 : <input type="text" name="userId" id="userId"/><br>
        비밀번호: <input type="text" name="password"/><br>
        <input type="submit" value="제출" /> <br>
        <input type="reset" value="clear" /> <br>

    </form>

    <td th:text="${user}"></td>



</section>
</body>
</html>